*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: raleway-f;
    src: url(./fonts/raleway-regular.woff2);
}
@font-face {
    font-family: raleway-f;
    src: url(./fonts/raleway-black.woff2);
    font-weight: 900;
}
:root{
    --index: calc(1vw+1vh);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);

}
body{
    background-color: #101010;
    font-family: raleway-f, sans-serif;
    color: white;
    line-height: 1.55;
}
.main-header{
    position: relative;
}
.main-header::after{
    content: "";
    width: 100%;
    height: calc(var(--index)*10);
    background-image: url(./img/ground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    position: absolute;
    bottom: calc(var(--index)*-4.5) ;
}
.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
}
.main-article{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.layers__base{
    transform: translate3d(0, calc(var(--scrollTop)/1.6), 0);
    z-index: 0;
    transition: var(--transition);
}
.layers__midle{
    transform: translate3d(0, calc(var(--scrollTop)/4.5), 0);
    transition: var(--transition);
}
.layers__front{
    transform: translate3d(0, calc(var(--scrollTop)/5.5), 0);
    transition: var(--transition);
}
.layers-header{
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop)/2), 0);
    text-transform: uppercase;
    will-change: transform;
    transition: var(--transition);
}
.layers-title{
    font-size: calc(var(--index)*2);
    letter-spacing: calc(var(--index)/2.25);
    color: #EBE3BB;
    font-weight: 900;
    text-shadow: 0 0 15px #8D6D29;
}
.layers-caption{
    font-size: calc(var(--index)*2);
    letter-spacing: calc(var(--index)/2.25);
    margin-top:  calc(var(--index)*-2.75);
    color: #ECE5C1;
    font-weight: 900;
}
.main-article{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ECE5C1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}
.main-article-header{
    font-size: calc(var(--index)*1.8);
    letter-spacing: calc(var(--index)/7.5);
    text-transform: uppercase;
    transform: translate3d(0,calc(var(--scrollTop))/2,0);
    transition: var(--transition);
}
.main-article-paragraph{
    max-width: calc(var(--index)*30);
    font-size: calc(var(--index)*.9596);
    margin-top: calc(var(--index)/1.25);
}

.copy{
    position: absolute;
    bottom: calc(var(--index)*2.25);
    opacity: .45;
    font-size: calc(var(--index)*.9);
    letter-spacing: calc(var(--index)/35);
}